extends ../layouts/main-layout.pug

block content
    if(action !== 'undefined' && action === 'edit')
        div.alert.alert-warning Ürün güncellendi.

    if(action !== 'undefined' && action === 'delete')
        div.alert.alert-danger Ürün silindi.

    if products.length > 0
        table.table.table-bordered
            thead
                tr
                    th(style="width:10%;") Resim 
                    th Ürün Adı
                    th(style="width:15%;") Fiyat
                    th(style="width:15%;") Ekleyen Kullanıcı
                    th(style="width:15%;")
                tbody
                    each product in products 
                        tr 
                            td.align-middle 
                                img(src=`/img/${product.imageUrl}` width='80')
                            td.align-middle #{product.name}
                            td.align-middle #{product.price} TL 
                            td.align-middle #{product.userId.name} 
                            td.align-middle
                                a.btn.btn-primary.btn-sm.mr-2(href=`/admin/products/${product._id}`) Düzenle

                                form(action='/admin/delete-product' method='POST')
                                    input(type='hidden' name='_csrf' value=`${csrfToken}`)
                                    input(type='hidden' name='productid' value=`${product._id}`)
                                    button(type='submit').btn.btn-danger.btn-sm Sil
    else 
        h1 Ürün Yok                