extends ../layouts/main-layout.pug
block content 
    if errorMessage
        div.alert.alert-danger.col-sm-10.offset-sm-2 !{errorMessage}
    form(action="/admin/add-product" method="POST" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        .form-group.row
            label(for="name").col-sm-2.col-form-label Ürün Adı:
            .col-sm-10
                input.form-control#name(type="text" name="name" value=`${inputs.name}`)                        
        .form-group.row
            label(for="price").col-sm-2.col-form-label Fiyat
            .col-sm-10
                input.form-control#price(type="text" name="price" value=`${inputs.price}`)  
        .form-group.row
            label(for="imageUrl").col-sm-2.col-form-label Resim
            .col-sm-10
                input.form-control-file#image(type="file" name="image")
        //- .form-group.row
        //-     label(for="categoryid").col-sm-2.col-form-label Kategori
        //-     .col-sm-10
        //-         select.form-control#categoryid(name="categoryid")      
        //-             option(value="-1") Kategori Seçin 
        //-             each category in categories 
        //-                 option(value=`${category.id}`) #{category.name}  
        .form-group.row
            label(for="description").col-sm-2.col-form-label Açıklama
            .col-sm-10
                textarea.form-control(id="editor" cols="30" rows="10" name="description" value=`${inputs.description}`)
        .form-group.row
            .col-sm-10.offset-sm-2
                input(type="submit" value="Kaydet").btn.btn-primary
    
block script 
    script(src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js")
    script(src="/js/script.js")